@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    background: rgb(0, 0, 0);
    font-family: "Mochiy Pop One", sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    padding: 20px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    border-radius: 50px;
}


.container {   
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    position: relative;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 50px;
    border: solid red ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 50px;
    transition: background-color 1s, color 1s;
}

.nav-links a:hover {
    background-color: white;
    color: #fd8b00;
}

.nav-links a.active {
    background-color: white;
    color: #ff8c00;
}

.comprar {
    background-color: solid red;
    border: red;
    padding: 20px;
}